# Scala
*.class
*.log
apidoc/redoc-static.html

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#sbt-plugins specific

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
project/target
*.env

# IntelliJ
/out/
*.iml

# vim
*.swp
.tags

# Mac
.DS_Store

.envrc

logs/